#app{
    min-height: 90vh;
 
    
}


 .rubik-scribble {
     font-family: 'Rubik Scribble', sans-serif;
     font-weight: 400;
     font-style: normal;
     /* You can customize additional styles here */
 }

 .bebas-neue-regular {
     font-family: "Bebas Neue", sans-serif;
     font-weight: 400;
     font-style: normal;
 }
h1,h2,h3,h4,h5{
    color: #ff6600;

}


label{
    color: #ff6600;
}

.operations button{
    color: black;
    padding: 1%;
    background-color: #47250f;
}
.dropdown-menu {
    background-color: #343a40;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #ff6600;
    color: #fff;
}

footer,
.generalfooter {
    background-color: #000;
    color: #ff6600;
    /* Yellow text */
    text-align: center;
    padding: 10px 0;
}

.generalfooter {
    background-color: #000;
    color: #ff6600;
    /* Yellow text */
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.generalfooter p {
    margin: 0;
}

.btn-orange{
    background-color:#ff6600;
        color: #000;
        border: wheat;
        padding: 10px;
        border-radius: 10%;
        text-decoration: none;
        margin-left: 10px;
}
.btn-orange:hover{
    background-color:black;
        color: #ff6600;
        border: 1px solid wheat;
        padding: 1%;
        border-radius: 10%;
        text-decoration: none;
}
.btn-primary {
    background-color: #000;
    color: #ff6600;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.search-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

.search-input-field {
    width: calc(100% - 40px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-submit-button {
    width: 40px;
    height: 40px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.additional-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.additional-field {
    width: calc(33.33% - 20px);
    margin: 0 10px 10px 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.search-submit-button:hover {
    background-color: #ff6600;
}